#root {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pheria-btn {
    border: 1px solid white;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}
