.list-group-template {
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  overflow: scroll;
  overflow-y: hidden !important;
  white-space: nowrap;
  position: fixed;
  width: calc(100vw - 2rem);
  max-width: calc(500px - 2rem);
  bottom: 0;
  &__item {
    padding: 10px;
  }
}

.list-template-modal{
  &.ant-modal-wrap{
    top: inherit
  }
  .ant-modal{
    padding-bottom: 0px;
    bottom: 0px;
    top: inherit;
  }
}

.list-template {
  display: flex;
  .template-background{
    width: 32px;
    height: 50px;
    margin: 10px;
    border: 1px solid black;
  }
}