.menu {
  position: fixed;
  width: 100%;
  max-width: 500px;
  height: 5vh;
  bottom: 0;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  padding: 8px 12px;
  a {
    span {
      margin-right: 10px;
    }
  }
}

.active {
  background-color: black;
  color: #fff;
  border-radius: 23px;
  a {
    color: #fff;
  }
}


