.story{
  .story_container {
    position: relative;
    height: 100%;
    .story_wrap {
      background-color: rgb(29, 35, 44);
      border-radius: 10px;
      .story_img{
        width: 100%;
        color: transparent;
        position: absolute;
        border-radius: 10px;
      }
      
    }
    .story_heart{
      color: #fff;
      padding: 10px;
      .heart {
        color: #ED4956;
      }
    }
  }
}
.story-list{
  height: 92vh;
  overflow: auto;
  overflow-y: scroll;
  .container {
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 10px;
    justify-content: center;
    .ht-0 { grid-row-end: span 14; }
    .ht-1 { grid-row-end: span 15; }
    .ht-2 { grid-row-end: span 15; }
    .ht-3 { grid-row-end: span 16; }
    .ht-4 { grid-row-end: span 17; }
    .ht-5 { grid-row-end: span 18; }
    .ht-6 { grid-row-end: span 19; }
    .ht-7 { grid-row-end: span 20; }
    .ht-8 { grid-row-end: span 21; }
    .ht-9 { grid-row-end: span 22; }

  }
}
